.row-custom{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 150px;
    gap: 40px;
}
body{
  background-color: #e4e0dd;
}

@media screen and (max-width: 480px) {
  .row-custom{
    margin: 10px;
    justify-content: center;
  }
}