@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Poppins:wght@300&display=swap");

.iste-text {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  font-family: "League Spartan", sans-serif;
}

.left-nav {
  float: left;
  width: 20%;
  height: 100%;
  padding: 5px;
}

.right-nav {
  float: right;
  width: 80%;
  height: 100%;
  padding: 10px;
}

.redirects-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

/* Nav Links CSS */
.nav-redirects-custom {
  color: white;
  font-weight: 500;
}
.nav-redirects-custom:hover {
  color: rgba(255, 255, 255, 0.6);
}

.contact-us {
  color: #ff002b;
  font-weight: 700;
}
.contact-us:hover {
  color: #9d1c32;
  transform: scale(1.1);
}
